<p style="color: green"><%= notice %></p>

<%= render @tunnel %>

<div>
  <%= link_to "Edit this tunnel", edit_tunnel_path(@tunnel) %> |
  <%= link_to "Back to tunnels", tunnels_path %>

  <%= button_to "Destroy this tunnel", @tunnel, method: :delete %>
</div>
